.bg-leaves {
    background-image: url("/bg-leaves.jpg");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.bg-forest {
    background-image: url("/bg-forest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.body-text {
    font-size: 1.25rem;
}
.content {
    background: linear-gradient(to bottom, #ffffff, #ffffff, transparent);
}
